In [2]:
list_of_number=[1,2,3,4,5,6,7,8,9,10]
print(list_of_number)
total_sum=sum(list_of_number)
print("total:",total_sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total: 55

In [22]:

list_fruits=["apple","banana","jackfruit","grapes"]
print("orginal_list :", list_fruits)
list_rereverse=list_fruits[::-1]
print("reverse list :", list_rereverse)

orginal_list : ['apple', 'banana', 'jackfruit', 'grapes']
reverse list : ['grapes', 'jackfruit', 'banana', 'apple']

In [19]:
grades = {
    "sasank": 85,
    "anil kumar": 92,
    "latha": 78,
    "Dhoni": 50}
grades ["reddis"]= 88
grades.update({"Dhoni":99})
print( grades)

{'sasank': 85, 'anil kumar': 92, 'latha': 78, 'Dhoni': 99, 'reddis': 88}

In [2]:
# Create a list of numbers with some duplicates
numbers_list = [1, 2, 3, 4, 5, 2, 3, 6, 7, 5]
numbers_set = set(numbers_list)
print("Original list:", numbers_list)
print("Set (no duplicates):", numbers_set)

Original list: [1, 2, 3, 4, 5, 2, 3, 6, 7, 5]
Set (no duplicates): {1, 2, 3, 4, 5, 6, 7}

In [30]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
kingdom=("Raju",45,"golkonda fort")

(kingname,kingage,kingfort)=kingdom
print(kingname)
print(kingage)
print(kingfort)

Raju
45
golkonda fort

In [7]:
grades = {"kumar": 85,"ravi": 92,"gas": 78}
ages = {"kumar": 20,"ravi": 21,"gas": 19}
merged ={**grades,**ages}
print(merged)

SyntaxError: unexpected character after line continuation character (3433476115.py, line 3)

In [52]:
set1 = {1, 2, 3, 4,5 }
set2 = {5, 6, 7, 8, 9}
intersection = set1 & set2
print("Intersection:", intersection)

unoin= set1 | set2
print("union:", unoin)

Intersection: {5}
union: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
student_ng= [("hara",90), ("krishna",95),("hari",95), ("krishnaa",99)]
dic_con=dict(student_ng)
print(dic_con)

{'hara': 90, 'krishna': 95, 'hari': 95, 'krishnaa': 99}